html, body {
	margin: 0;
	padding: 0;
	background-color: #eeeee0
}

h1 {
	font-family: Merriweather;
	font-size: 36px;
	font-weight: 800;
}

h2 {
	font-family: "Open Sans";
	font-size: 20px;
}

h3 {
	font-family: Merriweather;
	font-size: 16px;
	font-style: italic;
	color: rgb(64,224,208);
}

h4 {
	font-family: "Open Sans";
	font-size: 16px;
}

.container {

}

.headerBottom {
	border-width: 5px;
	border-style: dotted;
	color: red;

}