h1 {
	font-family: Merriweather;
	font-size: 36px;
	font-weight: 800;
}

h2 {
	font-family: "Open Sans";
	font-size: 20px;
}

h3 {
	font-family: Merriweather;
	font-size: 16px;
	font-style: italic;
	color: rgb(54, 124, 43);
}