.hotelDetail h2 {
	font-family: "Open Sans";
	font-size: 20px;
	color: rgb(194,24,7);
}

.hotelDetail h3 {
	font-family: Merriweather;
	font-size: 16px;
	color: black;
	margin-top: 10px;
}

.weblink h3 {
	font-family: "Open Sans";
	font-size: 16px;
	color: rgb(64,224,208);
}